body {
width: 100%;
/*height:auto;*/
background-color: #dbd5d4;
color:black;
margin: 0;
font-family: 'Poppins', sans-serif;

}
header {
    display: flex;
    flex-direction: row;
    background-color:#6791E9 ;
   /* margin-bottom: 20px;
    margin-top: none;*/
    font-family: 'caveat';
}
h1 {
    color: #EBBFBE;
    font-size: 100px;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
}

.nav_list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    
}
.nav_list-item {
    color: #EBBFBE;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
}

.nav_list-item:hover {
    color:#DBD5D4;

}
.top-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}
p {
    padding: 20px;
    line-height: 1.5;
}
.footer-bar {    margin-top: 50px;    width: 100%;    display: flex;    align-items: flex-end;    justify-content: center;    background-color: #3783ca;}.fa-instagram,.fa-facebook-f {    color: #dbd5d4;    font-size: 40px;}footer {    position: relative;    padding-right: 30px;    width: 100%;}