body {
    background-color: #dbd5d4;
}

.navigation {
  position: relative;
  padding-right: 30px;
  width: 100%;
}


.nav-bar {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #3783ca;
}

.logo {
  margin-top: 50px;
  margin-left: 40px;
}

.logo-mykonos {
  margin-bottom: 10px;
  width: 400px;
}


nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}

.nav_list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}

.nav_list-item {
  color: #dbd5d4;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
  font-family: 'Caveat', cursive;
}

.nav_list-item:hover {
  color: blue;
}

/*The gallery styling starts*/

.gallery-grid {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  height: 634px;
  max-width: 918px;
  width: 100%;
  gap: 22px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
}

.img-authentic {
  grid-area: 1 / 1 / 3 / 2;
  border-radius: 10px;
}

.img-rice {
  grid-area: 1 / 2 / 2 / 4;
}

.img-sallad {
  grid-area: 2 / 2 / 3 / 3;
}

.img-hummus {
  grid-area: 2 / 3 / 3 / 4;
}

/* The footer style*/

.footer-bar {
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #3783ca;
}

.fa-instagram,
.fa-facebook-f {
  color: #dbd5d4;
  font-size: 40px;
}


footer {
  position: relative;
  padding-right: 30px;
  width: 100%;
}
